<li>
  <div class="message">
    <div class="message-block">
      <div class="message-user">
        <span class="text-muted">
          <%= link_to user_path(message.user), "data-toggle" => "tooltip", title: "#{message.user.full_name}" do %>
          <div class="avatar-div" style="background-image: url('<%= cl_image_path(message.user.profile_picture.path) %>')">
          </div>
          <% end %>
          <div class="timestamp">
            <%= message.timestamp%>
          </div>
          <% if DateTime.now.to_date != message.created_at.to_date %>
          <%= " " + message.daystamp   %>
          <% elsif DateTime.now.to_date - 1 == message.created_at.to_date %>
          <%= " yesterday" %>
          <% end %>
        </span><br>
      </div>
      <div class="message-bubble">
        <%= message.body %>
      </div>
    </div>
  </div>
</li>


