<div class="container">
  <div class="row col-xs-12 col-md-6 col-md-offset-3">


    <h2>Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :city, list: 'city-datalist' %>
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
      <%= f.input :photo, as: :attachinary %>
    </div>
    <datalist id="city-datalist"></datalist>
    <div class="form-actions" id="sign-up">
      <%= f.button :submit, "Sign up", class: "navbar-competition-btn" %>

      <% end %>
      <p>Already have an account?</p>
      <%= render "devise/shared/links" %>
    </div>
  </div>

  <% content_for(:after_js) do %>
  <script>
    // Get the <datalist> and <input> elements.
    var dataList = document.getElementById('city-datalist');
    var input = document.getElementById('user_city');

    // Create a new XMLHttpRequest.
    var request = new XMLHttpRequest();

    // Handle state changes for the request.
    request.onreadystatechange = function(response) {
      if (request.readyState === 4) {
        if (request.status === 200) {
          // Parse the JSON
          var jsonOptions = JSON.parse(request.responseText);

          // Loop over the JSON array.
          jsonOptions.forEach(function(item) {
            // Create a new <option> element.
            var option = document.createElement('option');
            // Set the value using the item in the JSON array.
            option.value = item["name"];
            // Add the <option> element to the <datalist>.
            dataList.appendChild(option);
          });


        }
      }
    };



    // Set up and make the request.
    request.open('GET', 'http://data.okfn.org/data/core/world-cities/r/world-cities.json', true);
    request.send();

  </script>
  <% end %>
</div>
