<h1>Conversations</h1>

<%= link_to "New Conversation", new_conversation_path %>

<hr />

All Conversations (<%= current_user.mailbox.conversations.unread(current_user).count %>) |
Inbox (<%= current_user.mailbox.inbox.unread(current_user).count %>) |
Sent (<%= current_user.mailbox.sentbox.count %>) |
Trash (<%= current_user.mailbox.trash.count %>) |

<hr />

Total: <%= @conversations.count %>

<% @conversations.each do |conversation| %>
  <div>
    <% if conversation.is_unread?(current_user) %>
      <strong><%= link_to conversation.subject, conversation_path(conversation) %></strong>
    <% else %>
      <%= link_to conversation.subject, conversation_path(conversation) %>
    <% end %>
  </div>
<% end %>
