<!-- <h1>Conversations</h1>

<%= link_to "New Conversation", new_conversation_path %>

<hr />

All Conversations (<%= current_user.mailbox.conversations.unread(current_user).count %>) |
Inbox (<%= current_user.mailbox.inbox.unread(current_user).count %>) |
Sent (<%= current_user.mailbox.sentbox.count %>) |
Trash (<%= current_user.mailbox.trash.count %>) |

<hr />

Total: <%= @conversations.count %>

<% @conversations.each do |conversation| %>
  <div>
    <% if conversation.is_unread?(current_user) %>
      <strong><%= link_to conversation.subject, conversation_path(conversation) %></strong>
    <% else %>
      <%= link_to conversation.subject, conversation_path(conversation) %>
    <% end %>
  </div>
<% end %> -->




<div class="mailbox-container">
  <div class="col-lg-2 mailbox-navigation">
    <div class="row">
      <h1>
        <%= link_to "Inbox", conversations_path %>
        <%= link_to new_conversation_path do %>
          <i class="fa fa-plus" aria-hidden="true"></i>
        <% end %>
      </h1>
    </div>
    <div class="row">
      <div class="mailbox-navigation-tabs">
        <a class="mailbox-navigation-tab active" data-target="#all-conversations"><i class="fa fa-inbox" aria-hidden="true"></i>All Conversations<span><%= current_user.mailbox.conversations.count %></span></a>
        <a class="mailbox-navigation-tab" data-target="#unread"><i class="fa fa-bell-o" aria-hidden="true"></i>Unread<span><%= current_user.mailbox.conversations.unread(current_user).count %></span></a>
        <a class="mailbox-navigation-tab" data-target="#trash"><i class="fa fa-trash-o" aria-hidden="true"></i>Trash<span><%= current_user.mailbox.trash.count %></span></a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mailbox-index">
    <div class="row">
      <div class="mailbox-index-content" id="all-conversations">
        <% current_user.mailbox.conversations.each_with_index do |conversation, index| %>
          <% if index == 0 %>
            <div class="col-lg-12">
              <div class="row">
                <a class="mailbox-index-tab active" data-target="#<%= conversation.id %>">
                  <% if conversation.participants.count == 2 %>
                    <% conversation.participants.each do |participant| %>
                      <% if participant != current_user %>
                        <% if participant.profile_picture %>
                            <% participant_profile_picture = cl_image_path(participant.profile_picture.path, crop: :thumb, gravity: :face) %>
                        <% else %>
                            <% participant_profile_picture = image_path('profile-avatar-default.jpg') %>
                        <% end %>
                        <%= image_tag participant_profile_picture, class: 'avatar-m' %>
                      <% end %>
                    <% end %>
                  <% end %>

                  <% conversation.participants.each do |participant| %>
                    <% if participant != current_user %>
                      <%= participant.full_name %>
                    <% end %>
                  <% end %>
                  <%= conversation.subject %>
                </a>
              </div>
            </div>
          <% else %>
            <div class="col-lg-12">
              <div class="row">
                <a class="mailbox-index-tab" data-target="#<%= conversation.id %>">
                  <% if conversation.participants.count == 2 %>
                    <% conversation.participants.each do |participant| %>
                      <% if participant != current_user %>
                        <% if participant.profile_picture %>
                            <% participant_profile_picture = cl_image_path(participant.profile_picture.path, crop: :thumb, gravity: :face) %>
                        <% else %>
                            <% participant_profile_picture = image_path('profile-avatar-default.jpg') %>
                        <% end %>
                        <%= image_tag participant_profile_picture, class: 'avatar-m' %>
                      <% end %>
                    <% end %>
                  <% end %>

                  <% conversation.participants.each do |participant| %>
                    <% if participant != current_user %>
                      <%= participant.full_name %>
                    <% end %>
                  <% end %>
                  <%= conversation.subject %>
                </a>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="mailbox-index-content hidden" id="unread">
        unread
      </div>
      <div class="mailbox-index-content hidden" id="trash">
        trash
      </div>
    </div>
  </div>
  <div class="col-lg-7 mailbox-discussion">
    <% current_user.mailbox.conversations.each_with_index do |conversation, index| %>
      <% if index == 0 %>
        <div class="mailbox-discussion-content" id="<%= conversation.id %>">
          <% conversation.receipts_for(current_user).order(created_at: 'ASC').each do |receipt| %>
            <div>
              <p><strong><%= receipt.message.sender.full_name %>:</strong></p>
              <p><%= content_with_emoji(receipt.message.body) %></p>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="mailbox-discussion-content hidden" id="<%= conversation.id %>">
          <% conversation.receipts_for(current_user).order(created_at: 'ASC').each do |receipt| %>
            <div>
              <p><strong><%= receipt.message.sender.full_name %>:</strong></p>
              <p><%= content_with_emoji(receipt.message.body) %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>




<%= content_for(:after_js) do %>
  <script>
    $(".mailbox-navigation-tab").on("click", function(e){
      // Change active tab
      $(".mailbox-navigation-tab").removeClass('active');
      $(this).addClass('active');
      // Hide all tab-content (use class="hidden")
      $(".mailbox-index-content").addClass('hidden');
      // Show target tab-content (use class="hidden")
      $($(this).data('target')).removeClass('hidden');
    });

    $(".mailbox-index-tab").on("click", function(e){
      // Change active tab
      $(".mailbox-index-tab").removeClass('active');
      $(this).addClass('active');
      // Hide all tab-content (use class="hidden")
      $(".mailbox-discussion-content").addClass('hidden');
      // Show target tab-content (use class="hidden")
      $($(this).data('target')).removeClass('hidden');
    });
  </script>
<% end %>
