<h1>New Conversation</h1>

<%= form_tag conversations_path, method: :post do %>
  <div class="form-group">
    <%= label_tag 'recipients', 'Choose recipients' %>
    <%= select_tag :user_ids, options_from_collection_for_select(@recipients, :id, :full_name), multiple: true, class: 'form-control chosen-it' %>
  </div>

  <div>
    <%= text_field_tag :subject, nil, placeholder: "Subject"%>
  </div>

  <div>
    <%= text_area_tag :body, nil, placeholder: "Say something here..." %>
  </div>

  <%= submit_tag %>
<% end %>
