<h1><%= @conversation.subject %></h1>

<% @conversation.receipts_for(current_user).each do |receipt| %>
  <div>
    <p><strong><%= receipt.message.sender.full_name %>:</strong></p>
    <p><%= receipt.message.body %></p>
  </div>
<% end %>

<%= form_tag conversation_messages_path(@conversation), method: :post do %>
  <div>
    <%= text_area_tag :body %>
  </div>

  <%= submit_tag %>
<% end %>
