<h1><%= @conversation.subject %></h1>

<h4>Participants</h4>
<% @conversation.participants.each do |participant| %>
  <div><%= participant.full_name %></div>
<% end %>

<hr />

<% @conversation.receipts_for(current_user).order(created_at: 'ASC').each do |receipt| %>
  <div>
    <p><strong><%= receipt.message.sender.full_name %>:</strong></p>
    <p><%= receipt.message.body %></p>
  </div>
<% end %>

<%= form_tag conversation_messages_path(@conversation) do %>
  <div><%= text_area_tag :body, nil, id: 'textarea' %></div>

  <%= submit_tag %>
<% end %>




<!-- After JS -->
<%= content_for(:after_js) do %>
  <script>
    $('#textarea').keypress(function(e){
      if(e.keyCode == 13 && !e.shiftKey) {
        e.preventDefault();
        this.form.submit();
      }
    });
  </script>
<% end %>
