<div class="row">
  <div class="col-xs-12">
    <h3>Define the basic info</h3>
  </div>
</div>
<%= simple_form_for competition do |f| %>
<% f.error_notification %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= f.input :name, label: false, placeholder: "Name your competition" %>
  </div>
</div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <%= f.association :sport, label: 'Choose a sport:', :label_html => {:class => 'label-style'}, collection: Sport.all, selected: 'Tennis' %>
    </div>
    <div class="col-md-4">
    <%= f.input :category, label: 'Choose a type of competition:', :label_html => {:class => 'label-style'}, collection: ["Knockout"], selected: 'Knockout' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= f.input :team_competition,
            :as => :select,
            :collection => [['Team competition',true],['Individual competition',false]],
            :include_blank => true,
            :selected => :blank,
            :label => "Team or Individuals" %>
    </div>
  </div>
<div class="row">
</div>

  <%= content_for(:after_js) do %>
  <script>
    $("select[name='competition[team_competition]']").change(function(){

        if ($(this).val() == "false")
            $('#new_competition').append("<%= render 'individual_competition_new', competition: competition %>")
            <%#= render 'individual_competition_new', competition: @competition%>;
    });
  </script>
  <%end %>

<% end %>
