
<div class="row">
  <div class="col-xs-12">
    <h3>Invite the participants</h3>
  </div>
</div>
<%= simple_form_for competition do |f| %>
<div class="col-md-3">
     <%= f.input :number_of_players, label: 'Choose a # of players:', :label_html => {:class => 'label-style'}, collection: [2, 4, 8, 16, 32], selected: '8' %>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <select class="form-control select optional chosen-select" data-placeholder=" " multiple="multiple" name="competition[user_ids][]" id="competition_user_ids">
      <% current_user.friends.each do |friend| %>
        <option value="<%= friend.id %>"><%= friend.first_name %> <%= friend.last_name %>
        </option>
      <% end %>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <ul class="competition-new-participants"></ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <%= f.button :submit, class: 'competition-new-btn' %>
  </div>
</div>

<% end %>
