<div class="row">
  <div class="col-xs-12">
    <h3 class="competition-step flexbox-center">
      <div class="competition-step-number flexbox">2</div> <div>Invite friends</div>
    </h3>
  </div>
</div>

<div class="col-xs- 12 col-md-8 col-md-offset-2 text-center margin-me-individ">
  <%= f.input :number_of_players, label: 'Choose a # of players:', :label_html => {:class => 'label-style'}, collection: [2, 4, 8, 16], prompt: "How many?" %>
</div>
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
    <label class="control-label select optional label-style" style="margin-top: 0px">Choose your players</label>
    <br>
    <select class="col-xs-12 form-control select optional chosen-select individual-chosen-select" data-placeholder=" " multiple="multiple" name="competition[user_ids][]" id="competition_user_ids">
      <% current_user.friends.each do |friend| %>
        <option value="<%= friend.id %>"><%= friend.first_name %> <%= friend.last_name %>
        </option>
      <% end %>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <ul class="competition-new-participants"></ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <%= f.button :submit, class: 'competition-new-btn btn-individual' %>

  </div>
  </div>
