<div class="container-competition-table">
  <% round_number = 1 %>
  <% until round_number - 1 == @rounds do %>
  <div class=<%= "flex-" + "#{@rounds}" %>>
  <% match_number = 1 %>
    <% @competition.matches.order("match_number asc").select { |r| r.round == round_number }.each do |match| %>
    <% if round_number == @rounds %>
    <div class="match-label">FINAL</div>
    <% elsif round_number + 1 == @rounds %>
    <div class="match-label">SEMI-FINAL</div>
    <% else %>
    <div class="match-label">Round: <%= round_number %>, Match: <%= match_number %></div>
    <% end %>

    <div class="card-match" >
      <% if match.status == "Played" %>

      <div class="card-final-score">
        <%= render "matches/final_score_#{@competition.sport.name.downcase}", match: match %>
      </div>

      <% else %>

      <div class="card-versus">
        <% if match.players.first %>

        <% if match.players.first.profile_picture %>
          <% player_first_profile_picture =  cl_image_path(match.players.first.profile_picture.path, crop: :thumb, gravity: :face) %>
        <% else %>
          <% player_first_profile_picture = image_path('profile-avatar-default.jpg') %>
        <% end %>

        <%= link_to user_path(match.players.first), "data-toggle" => "tooltip", title: "#{match.players.first.full_name}" do %>
        <div class="avatar-div" style="background-image: url('<%= image_path player_first_profile_picture %>')">
        </div>
        <% end %>
        <% end %>
        <span>vs</span>
        <% if match.players.last != match.players.first %>

        <% if match.players.last.profile_picture %>
          <% player_last_profile_picture =  cl_image_path(match.players.last.profile_picture.path, crop: :thumb, gravity: :face) %>
        <% else %>
          <% player_last_profile_picture = image_path('profile-avatar-default.jpg') %>
        <% end %>

        <%= link_to user_path(match.players.last), "data-toggle" => "tooltip", title: "#{match.players.last.full_name}" do %>
        <div class="avatar-div" style="background-image: url('<%= image_path player_last_profile_picture %>')">
        </div>
        <% end %>
        <% end %>
      </div>


      <% if current_user == @competition.creator %>
      <%= link_to "Input Score", edit_match_path(match), class: 'btn btn-sm result-input-btn', id: "#{match.match_number}", 'data-toggle' => 'modal', 'data-target' => "##{match.match_number}_link" %>
      <% elsif current_user == match.players.first || current_user == match.players.last %>
      <%= link_to "Input Score", edit_match_path(match), class: 'btn btn-sm result-input-btn', id: "#{match.match_number}", 'data-toggle' => 'modal', 'data-target' => "##{match.match_number}_link" %>
      <% else %>
      <p><em><%= match.status %></em></p>
      <% end %>
        <div class="edit-score" id=<%= "edit-#{match.match_number}" %>>
          <%= render 'matches/edit', match: match %>
        </div>
      <% end %>

    </div>
    <% match_number += 1 %>
    <% end%>
  </div>
  <% round_number += 1 %>
  <% end %>
</div>

