<div class="container">
  <div class="row">
    <table class="league-table col-md-8 col-md-offset-2">
      <thead>
        <tr>
          <td>Pos.</td>
          <td>Team/Player</td>
          <td>Pl</td>
          <td>W</td>
          <td>D</td>
          <td>L</td>
          <td><strong>Pts</strong></td>
        </tr>
      </thead>

      <tbody>
        <% x = 1 %>
        <% @competition_participants_by_points.each do |player| %>
        <tr>
          <td><%= x %></td>
          <td><div class="league-table-player"><%= link_to user_path(player), "data-toggle" => "tooltip", title: "#{player.user.full_name}" do %>
          <div class="avatar-div" id="league-table-avatar" style="background-image: url('<%= cl_image_path(player.user.photo.path) %>')"></div>
          <% end %>
          <%= player.user.first_name %></div></td>
          <td><%= player.user.played_matches.where(competition_id: @competition.id).count %></td>
          <td><%= player.user.played_matches.where(competition_id: @competition.id, winner_id: player.user.id).count %></td>
          <td><%= player.user.played_matches.where(competition_id: @competition.id, winner_id: 0).count %></td>
          <td><%= player.user.played_matches.where(competition_id: @competition.id).count - (player.user.played_matches.where(competition_id: @competition.id, winner_id: player.user.id).count + player.user.played_matches.where(competition_id: @competition.id, winner_id: 0).count) %></td>
          <td><strong><%= player.points %></strong></td>
        </tr>
        <% x += 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>






