<div class="fixtures-header">
  <h4><strong>League Fixtures/Results</strong></h4>
</div>
<div class="fixtures-display">
  <div class="tabs">
    <% @competition.players.each do |player| %>
    <a class="fixtures-tab" data-target=<%= "##{player.first_name}" %>>
      <h4><%= player.first_name %></h4>
    </a>
    <% end %>
  </div>

  <div class="league-fixtures">
    <% @competition.players.each do |player|%>
    <div class="fixtures hidden" id=<%= "#{player.first_name}" %>>
      <% @competition.matches.each do |match| %>
      <% if match.player_one == player || match.player_two == player %>
      <%= react_component "FixtureList",
        render(template: 'matches/index.json.jbuilder') %>
      <div class="score-form" id="edit-<%="#{match.match_number}" %>">
        <%= render 'matches/edit_two', match: match %>
      </div>
      <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>


