<div class="row">
  <div class="col-xs-12">
    <h3>Invite the participants</h3>
  </div>
</div>
<div class="col-md-3">
  <%= simple_form_for competition do |f| %>
     <%= f.input :number_of_players, label: 'Choose a # of teams:', :label_html => {:class => 'label-style'}, collection: [2, 4, 8, 16, 32], selected: '8' %>
</div>
<div class="row">
  <% Sport.all.each do |sport| %>
  <div class="col-md-12 text-center hide team-dropdown-selection" id="dropdown-selection-<%= sport.id %>">
   <select class="form-control select optional chosen-select" data-placeholder=" " multiple="multiple" name="competition[user_ids][]" id="competition_user_ids">
    <% current_user.friend_captain_teams_for(sport).each do |team| %>
      <option value="<%= team.captain.id %>"><%= team.name %></option>
    <% end %>
    </select>
    </div>
  <% end %>

</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <ul class="competition-new-participants"></ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <%= f.button :submit, class: 'competition-new-btn' %>
    <% end %>
  </div>
</div>
