<div class="competition-new">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 competition-new-title">
        <h1>Create your competition</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 competition-new-board">
        <div class="row">
          <div class="col-xs-12">
            <h3 class="competition-step flexbox-center">
              <div class="competition-step-number flexbox">1</div> <div>Competition info</div>
            </h3>
          </div>
        </div>
        <%= simple_form_for @competition, remote: true do |f| %>

          <% f.error_notification %>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <%= f.input :name, label: "Choose a name", placeholder: "London Tennis League" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <%= f.association :sport, label: 'Choose a sport:', :label_html => {:class => 'label-style'}, collection: Sport.all, value_method: :id, include_blank: false, prompt: "Which sport?" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <%# f.input :team_competition,
                    :as => :radio_buttons,
                    :collection => [['Team competition',true],['Individual competition',false]],
                    :include_blank => true,
                    :selected => :blank,
                    :label => "Team or Individuals" %>

              <div id="player-section"></div>
               <div class="form-group flexbox radio_buttons optional competition_team_competition">

                <label class="control-label radio_buttons optional hidden">Knockout or League</label>
                <input type="hidden" name="competition[category]" value="">

                <div class="category-choice text-center">
                  <span class="radio"></span>
                  <label for="competition_category_knockout">
                    <%= image_tag "knockout.png", width: "70px" %>
                    <p>Knockout competition</p>
                  </label>
                  <input class="radio_buttons optional hidden" type="radio" value="Knockout" name="competition[category]" id="competition_category_knockout">
                </div>

                <div class="category-choice text-center">
                  <span class="radio"></span>
                  <label for="competition_category_league">
                    <%= image_tag "league.png", width: "70px" %>
                    <p>League competition</p>
                  </label>
                  <input class="radio_buttons optional hidden" type="radio" value="League" name="competition[category]" id="competition_category_league">
                </div>
              </div>
            </div>
          </div>
          <div class="competition-step-two">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2 hide" id="knockout_competition_partial">
                <%= render "knockout_competition_new", competition: @competition, f: f %>
              </div>
              <div class="col-xs-8 col-xs-offset-2 hide" id="league_competition_partial">
                <%= render "league_competition_new", competition: @competition, f: f %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>

    // Knockout vs League Select
    $("[name='competition[category]']").change(function(){
      // unselect all choices if change from one hidden form to another
       $.each( $(".search-choice"), function( key, value ) {
          $(".search-choice-close").click();
        });

      if ($(this).val() == "Knockout"){
        $('#knockout_competition_partial').removeClass('hide');
        $('#league_competition_partial').addClass('hide');
      }
      else if ($(this).val() == "League"){
       $('#league_competition_partial').removeClass('hide');
       $('#knockout_competition_partial').addClass('hide');
      }
    });

    // Chosen.js for friends selection with list append
    var friends_cards = {};
    var total_friends = <%= current_user.friends.count %>

    <% current_user.friends.each do |friend| %>
      friends_cards["<%= friend.id %>"] = "<%= j render 'friend_card', friend: friend %>"
    <% end %>

    // Selection of teams and individuals
    $(document).ready(function () {
      $('.chosen-select').chosen({
        allow_single_deselect: true,
        no_results_text: 'No results matched',
        width: '300px'
      });
      $('.chosen-select').chosen().change(function(){
        $(".competition-new-participants").empty();
        var delay=01;
        setTimeout(function() {
          $(".chosen-choices a").each(function(index, link){
            var playerIndex = parseInt($(link).attr("data-option-array-index"));
            // only individuals have pictures.. need to write something for teams to have pics too
            // need to make teams_card[id]
            var id = $(".individual-chosen-select option").eq(playerIndex).val();
            $(".competition-new-participants").append(friends_cards[id]);
          });
        }, delay);
     })

      $(".category-choice .radio_buttons").click(function(){
        $(".team-choice").removeClass("active");
        $(this).parent().toggleClass("active");

        var target = $("#player-section");
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 1000);
        }
      })


    });

    // Invite Teams DropDowns based on which sport it is
    $("select[name='competition[sport_id]']").change(function () {
        var sportID = $(this).val();
        $(".team-dropdown-selection").addClass("hide");
        $("#dropdown-selection-" + sportID).removeClass("hide");
    });
  </script>
<% end %>


