<body class="competition-new">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 competition-new-title">
        <h1>COMPETITION CREATION DESK</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 competition-new-board">
        <div class="row">
          <div class="col-xs-12">
            <h3>Define the basic info</h3>
          </div>
        </div>
        <%= simple_form_for @competition do |f| %>
        <% f.error_notification %>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <%= f.input :name, label: false, placeholder: "Name your competition" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-md-offset-1">
            <%= f.association :sport, label: 'Choose a sport:', :label_html => {:class => 'label-style'}, collection: Sport.all, selected: 'Tennis' %>
          </div>
          <div class="col-md-4">
            <%= f.input :category, label: 'Choose a type of competition:', :label_html => {:class => 'label-style'}, collection: ["Knockout"], selected: 'Knockout' %>
          </div>
          <div class="col-md-3">
             <%= f.input :number_of_players, label: 'Choose a # of players:', :label_html => {:class => 'label-style'}, collection: [2, 4, 8, 16, 32], selected: '8' %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h3>Invite the participants</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <select class="form-control select optional chosen-select" data-placeholder=" " multiple="multiple" name="competition[user_ids][]" id="competition_user_ids">
              <% current_user.friends.each do |friend| %>
                <option value="<%= friend.id %>"><%= friend.full_name %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <ul class="competition-new-participants"></ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <%= f.button :submit, class: 'competition-new-btn' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</body>






<% content_for(:after_js) do %>
  <script>

    var friends_cards = {};
    var total_friends = <%= current_user.friends.count %>

    <% current_user.friends.each do |friend| %>
      friends_cards["<%= friend.id %>"] = "<%= j render 'friend_card', friend: friend %>"
    <% end %>

    $(document).ready(function () {
      $('.chosen-select').chosen({
        allow_single_deselect: true,
        no_results_text: 'No results matched',
        width: '300px'
      });
      $('.chosen-select').chosen().change(function(){
        $(".competition-new-participants").empty();
        var delay=01;
        setTimeout(function() {
          $(".chosen-choices a").each(function(index, link){
            var playerIndex = parseInt($(link).attr("data-option-array-index"));
            var id = $(".chosen-select option").eq(playerIndex).val();
            $(".competition-new-participants").append(friends_cards[id]);
          });
        }, delay);

     })
    });
  </script>
<% end %>


