<div class="competition-new">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 competition-new-title">
        <h1>COMPETITION CREATION DESK</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 competition-new-board">
        <div class="row">
          <div class="col-xs-12">
            <h3>Define the basic info</h3>
          </div>
        </div>
        <%= simple_form_for @competition do |f| %>
          <% f.error_notification %>
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <%= f.input :name, label: false, placeholder: "Name your competition" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <%= f.association :sport, label: 'Choose a sport:', :label_html => {:class => 'label-style'}, collection: Sport.all, value_method: :id, include_blank: true %>
            </div>
            <div class="col-md-4">
            <%= f.input :category, label: 'Choose a type of competition:', :label_html => {:class => 'label-style'}, collection: ["Knockout"], selected: 'Knockout' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <%= f.input :team_competition,
                    :as => :select,
                    :collection => [['Team competition',true],['Individual competition',false]],
                    :include_blank => true,
                    :selected => :blank,
                    :label => "Team or Individuals" %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 competition-new-board hide" id="team_competition_partial">
              <%= render "team_competition_new", competition: @competition %>
            </div>
            <div class="col-xs-8 col-xs-offset-2 competition-new-board hide" id="individual_competition_partial">
              <%= render "individual_competition_new", competition: @competition %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>

    // Team vs Indiv Select
    $("select[name='competition[team_competition]']").change(function(){
      if ($(this).val() == "false"){
       $('#individual_competition_partial').removeClass('hide');
       $('#team_competition_partial').addClass('hide');
      }
      else if ($(this).val() == "true"){
        $('#team_competition_partial').removeClass('hide');
        $('#individual_competition_partial').addClass('hide');
      }
    });

    // Chosen.js for friends selection with list append
    var friends_cards = {};
    var total_friends = <%= current_user.friends.count %>

    <% current_user.friends.each do |friend| %>
      friends_cards["<%= friend.id %>"] = "<%= j render 'friend_card', friend: friend %>"
    <% end %>

    $(document).ready(function () {
      $('.chosen-select').chosen({
        allow_single_deselect: true,
        no_results_text: 'No results matched',
        width: '300px'
      });
      $('.chosen-select').chosen().change(function(){
        $(".competition-new-participants").empty();
        var delay=01;
        setTimeout(function() {
          $(".chosen-choices a").each(function(index, link){
            var playerIndex = parseInt($(link).attr("data-option-array-index"));
            var id = $(".chosen-select option").eq(playerIndex).val();
            $(".competition-new-participants").append(friends_cards[id]);
          });
        }, delay);
     })
    });

    // Invite Teams DropDowns
    $("select[name='competition[sport_id]']").change(function () {
        var sportID = $(this).val();
        $(".team-dropdown-selection").addClass("hide");
        $("#dropdown-selection-" + sportID).removeClass("hide");
    });
  </script>
<% end %>


