<h1><%= @competition.name %></h1>
<div class="wrapper-competition">
  <div class="container-competition">
    <% round_number = 1 %>
    <% until round_number - 1 == @rounds do %>
    <div class=<%= "flex-" + "#{2 * @rounds - 1}" %>>
      <% @competition.matches.order("match_number asc").select { |r| r.round == round_number }.each do |match| %>
      <div class="card-match" id=<%= "#{match.match_number}" %>>
        <h5>Match <%=match.match_number %></h5>
        <p><%= match.players.first.first_name if match.players.first %> vs. <%= match.players.last.first_name if match.players.last != match.players.first %> </p>
        <% if match.played? %>
        <p>Winner: <%= match.winner.first_name %></p>
        <% end %>
        <%= link_to "Input Score", edit_match_path(match), class: 'btn btn-sm btn-success', 'data-toggle' => 'modal', 'data-target' => "##{match.match_number}_link" %>

      <%= render 'matches/edit', match: match %>
        </div>
      <% end %>
    </div>
    <% round_number += 1 %>
    <% end %>
  </div>
</div>

<div class="message-board">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="chatbox">
          <div class="row">
            <div class="col-sm-12">
              <h4 style="text-align: center; margin: 20px;">Message Board</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <div id="messages">
                <ul id="message-list">
                  <% @chat_room.messages.order("created_at asc").each do |message| %>
                  <%= render message, message: message %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>

          <%= render 'messages/form', competition: @competition, message: @message %>
        </div>
      </div>
    </div>
  </div>
</div>
