<div class="competition-container">
  <div class="board-container">
    <div class="board-header flexbox">
      <div class="left">
        <h1>
          <%= @competition.name %>
        </h1>
        <p><%= @competition.sport.name %>, <%= @competition.category %></p>
      </div>
      <div class="right">
        <p><span><% if @competition.players.include?(user_id: 0)%>
        <%= @competition.number_of_players - 1 %>
        <% else %>
        <%= @competition.number_of_players %>
        <% end %></span> players</p>
      </div>
    </div>

    <div class="wrapper-competition-table">
      <% if @competition.category == "Knockout" %>
      <%= render 'knockout_competition' %>
      <% else %>
      <%= render 'league_table' %>
      <% end %>
    </div>

    <div class="fixtures-wrapper">
      <% if @competition.category == "League" %>
      <%= render 'league_fixtures_two' %>
      <% end %>
    </div>
  </div>
</div>


  <% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {

      $('[data-toggle="tooltip"]').tooltip();

    });

</script>
<% end %>


