<div class="competition-container">
  <div class="board-container">
    <div class="board-header flexbox">
      <div class="left">
        <h1>
          <%= @competition.name %>
        </h1>
        <p><%= @competition.sport.name %>, <%= @competition.category %></p>
        <% if @competition.players.count < @competition.number_of_players %>
        <p><strong>Round 1 matches will be assigned once <%= @competition.number_of_players %> players have been added</strong><%= react_component "InvitePlayersButton", {competition: @competition, friends: @not_invited_friends} %><p><% end %>
      </div>
      <div class="right">
        <p><span><%= @competition.number_of_players %></span> players</p>
      </div>
    </div>

    <div class="wrapper-competition-table">
      <% if @competition.category == "Knockout" %>
      <%= render 'knockout_competition' %>
      <% else %>
      <%= render 'league_table' %>
      <%= react_component "LeagueTable", players: @competition_participants_by_points, data: @league_table_data %>
      <% end %>
    </div>

    <div class="fixtures-wrapper">
      <% if @competition.category == "League" %>
      <%= render 'league_fixtures_two' %>
      <% end %>
    </div>
  </div>
</div>


  <% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {

      $('[data-toggle="tooltip"]').tooltip();

    });

</script>
<% end %>


