<h1><%= @competition.name %></h1>
<div class="wrapper-competition">
  <div class="container-competition">
    <% round_number = 1 %>
    <% until round_number - 1 == @rounds do %>
    <div class=<%= "flex-" + "#{2 * @rounds - 1}" %>>
      <% @competition.matches.where(round: round_number).each do |match| %>
      <div class="card-match">
        <h5>Match <%=match.match_number %></h5>
        <p><%= match.players.first.first_name if match.players.first %> vs. <%= match.players.last.first_name if match.players.first %> </p>
      </div>
      <% end %>
    </div>
    <% round_number += 1 %>
    <% end %>
  </div>
</div>

<div class="chatbox">
<div id="messages">
  <%= render @chat_room.messages %>
</div>

<%= form_for [@competition, @message], remote: true do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
    <small class="text-muted">From 2 to 1000 characters</small>
  </div>

  <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
<% end %>

</div>
