<h1><%= @competition.name %></h1>
<div class="wrapper-competition">
  <div class="container-competition">
    <% round_number = 1 %>
    <% until round_number - 1 == @rounds do %>
    <div class=<%= "flex-" + "#{2 * @rounds - 1}" %>>
      <% @competition.matches.select { |r| r.round == round_number }.each do |match| %>
      <div class="card-match">
        <h5>Match <%=match.match_number %></h5>
        <p><%= match.players.first %> vs. <%= match.players.last %> </p>
        <%= link_to "Input Score", edit_match_path(match) %>
      </div>
      <% end %>
    </div>
    <% round_number += 1 %>
    <% end %>
  </div>
</div>

