<% content_for(:title_tag) do %>
  OnTop | <%= @user.full_name %>
<% end %>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 profile-banner">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
          <div class="profile-banner-left">
            <% if @user.profile_picture? %>
            <%= cl_image_tag @user.profile_picture.path %>
            <% else %>
            <%= image_tag "profile-avatar-default.jpg" %>
            <% end %>
            <ul>
              <li><h3><%= @user.full_name %></h3></li>
              <li><i class="fa fa-map-marker"></i> <h4 style="display: inline;"><%= @user.city %></h4></li>
              <li><i class="fa fa-users" aria-hidden="true"></i>
                <p style="display: inline;">
                  <%= link_to user_friendships_path(@user) do %>
                  <%= @user.friends.count - 1 %> friends
                  <% end %>
                </p>
              </li>
              <li>
                <% if current_user.pending_friends.include?(@user) %>
                <div class="request-sent">
                  Friend request sent
                </div>
                <% elsif !current_user.friends.include?(@user) %>
                <%= link_to 'Add Friend', user_friend_requests_path(@user), class: "btn-friend", method: :post unless current_user == @user %>
                <% else %>
                <%= link_to 'Unfriend', friendship_path(@user.get_friendship(current_user), {user_id: @user.id}), class: "btn-unfriend", method: :delete, data: { confirm: "Are you sure?" } unless current_user == @user %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-5">
        <% if current_user == @user %>
          <ul>
            <% @user.friend_requests.each do |friend_request| %>
            <li>
              <%= link_to friend_request.user.full_name %>
              wants to be your friend:
              <%= button_to 'Accept', friend_request_path(friend_request), method: :patch %>
            </li>
            <% end %>
          </ul>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1" style="padding: 0;">
        <div class="profile-tabs">
          <a class="profile-tab active" data-target="#competitions">Competitions</a>
          <a class="profile-tab" data-target="#statistics">Statistics</a>
          <a class="profile-tab" data-target="#teams">Teams</a>
          <a class="profile-tab" data-target="#photos-videos">Photos/Videos</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1" style="padding: 0;">
        <div class="profile-tabs-container">
          <div class="profile-tabs-content" id="competitions">
            <div class="active-competitions-tab">
              <div class="row">
                <div class="col-sm-12">
                  <h4>Active</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <div class="table-scroll">
                    <table class="table table-sm">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Sport</th>
                          <th>Category</th>
                          <th># of players</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @user.unplayed_competitions.order("created_at ASC").each do |competition| %>
                          <tr>
                            <td>
                              <%= link_to competition.name, competition_path(competition) %>
                            </td>
                            <td>
                              <%= competition.sport.name %>
                            </td>
                            <td>
                              <%= competition.category %>
                            </td>
                            <td>
                              <%= competition.number_of_players %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="previous-competitions-tab">
              <div class="row">
                <div class="col-sm-12">
                  <h4>Previous</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <div class="table-scroll">
                    <table class="table table-sm">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Sport</th>
                          <th>Category</th>
                          <th># of players</th>
                          <th>Winner</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @user.played_competitions.order("created_at DESC").each do |competition| %>
                          <tr>
                            <td>
                              <%= link_to competition.name, competition_path(competition) %>
                            </td>
                            <td>
                              <%= competition.sport.name %>
                            </td>
                            <td>
                              <%= competition.category %>
                            </td>
                            <td>
                              <%= competition.number_of_players %>
                            </td>
                            <td>
                              <%= link_to competition.champion.full_name, user_path(competition.champion) %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="profile-tabs-content hidden" id="statistics">
            <div class="row">
              <h4 class="text-center" style="margin: 30px 0; font-weight: lighter;">Choose a sport:</h4>
            </div>
            <div class="row">
              <div class="flexbox stat-tabs">
                <div class="stat-tab" data-target="#tennis">
                  <%= image_tag "tennis-ball.png", width: "40px", "data-toggle" => "tooltip", "data-placement" => "bottom", title: "Tennis" %>
                </div>
                <div class="stat-tab" data-target="#table-tennis">
                  <%= image_tag "ping-pong.png", width: "40px", "data-toggle" => "tooltip", "data-placement" => "bottom", title: "Table-Tennis" %>
                </div>
                <div class="stat-tab" data-target="#football">
                  <%= image_tag "football.png", width: "40px", "data-toggle" => "tooltip", "data-placement" => "bottom", title: "Football" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1 stat-tabs-content hidden" id="tennis">
                <%= pie_chart({"wins" => "#{@user.wins_for('Tennis').count}", "losses" => "#{@user.losses_for('Tennis').count}"}, {title: "Wins/Losses ratio", colors: ["#58D063", "red"]}) %>
              </div>
              <div class="col-md-10 col-md-offset-1 stat-tabs-content hidden" id="table-tennis">
                <%= pie_chart({"wins" => "#{@user.wins_for('Table-Tennis').count}", "losses" => "#{@user.losses_for('Table-Tennis').count}"}, {title: "Wins/Losses ratio", colors: ["#58D063", "red"]}) %>
              </div>
              <div class="col-md-10 col-md-offset-1 stat-tabs-content hidden" id="football">
                <%= pie_chart({"wins" => "#{@user.wins_for('Football').count}", "losses" => "#{@user.losses_for('Football').count}"}, {title: "Wins/Losses ratio", colors: ["#58D063", "red"]}) %>
                </div>
              </div>
            </div> -->
            <!-- <div class="row">
              <div class="col-sm-2 col-sm-offset-1">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Tennis</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">matches</th>
                      <td style="text-align: center;"><%= @user.played_matches_for("Tennis").count %></td>
                    </tr>
                    <tr>
                      <th scope="row">wins</th>
                      <td style="text-align: center;"><%= @user.wins_for("Tennis").count %></td>
                    </tr>
                    <tr>
                      <th scope="row">losses</th>
                      <td style="text-align: center;"><%= @user.losses_for("Tennis").count %></td>
                    </tr>
                    <tr>
                      <th scope="row">cups</th>
                      <td style="text-align: center;"><%= @user.championships_for("Tennis").count %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-2 col-sm-offset-1">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Squash</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">matches</th>
                      <td style="text-align: center;"><%= @user.played_matches_for("Squash").count %></td>
                    </tr>
                    <tr>
                      <th scope="row">wins</th>
                      <td style="text-align: center;"><%= @user.wins_for("Squash").count %></td>
                    </tr>
                    <tr>
                      <th scope="row">losses</th>
                      <td style="text-align: center;"><%= @user.losses_for("Squash").count %></td>
                    </tr>
                    <tr>
                      <th scope="row">cups</th>
                      <td style="text-align: center;">0</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-2 col-sm-offset-1">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th></th>
                      <th>TableTennis</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">matches</th>
                      <td style="text-align: center;"><%= @user.played_matches_for("Table-Tennis").count %></td>
                    </tr>
                    <tr>
                      <th scope="row">wins</th>
                      <td style="text-align: center;"><%= @user.wins_for("Table-Tennis").count %></td>
                    </tr>
                    <tr>
                      <th scope="row">losses</th>
                      <td style="text-align: center;"><%= @user.losses_for("Table-Tennis").count %></td>
                    </tr>
                    <tr>
                      <th scope="row">cups</th>
                      <td style="text-align: center;">0</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-2 col-sm-offset-1">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Football</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">matches</th>
                      <td style="text-align: center;">16</td>
                    </tr>
                    <tr>
                      <th scope="row">wins</th>
                      <td style="text-align: center;">0</td>
                    </tr>
                    <tr>
                      <th scope="row">draws</th>
                      <td style="text-align: center;">3</td>
                    </tr>
                    <tr>
                      <th scope="row">losses</th>
                      <td style="text-align: center;">13</td>
                    </tr>
                    <tr>
                      <th scope="row">cups</th>
                      <td style="text-align: center;">0</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div> -->
<!--           </div>
          <div class="profile-tabs-content hidden" id="teams"></div>
          <div class="profile-tabs-content hidden" id="photos-videos"></div>
        </div>
      </div>
    </div>
</div> -->








<div class="container">
  <!-- Banner -->
  <div class="profile-banner">
    <% if @user.cover_picture %>
      <%= cl_image_path(@user.cover_picture.path) %>
    <% end %>
  </div>

  <!-- Content (flexbox) -->
  <div class="profile-content">
    <!-- Left section -->
    <div class="profile-left">
      <!-- 1st card -->
      <div class="profile-friendship">
        <!-- Profile picture -->
        <% if @user.profile_picture %>
          <% user_profile_picture = cl_image_path(@user.profile_picture.path, crop: :thumb, gravity: :face) %>
        <% else %>
          <% user_profile_picture = image_path('profile-avatar-default.jpg') %>
        <% end %>
        <%= image_tag user_profile_picture, class: 'profile-picture' %>
        <!-- Friendship -->
        <% if current_user.pending_friends.include?(@user) %>
          <div class="btn-pending">
            <i class="fa fa-check" aria-hidden="true"></i>
            <p>Friend request sent</p>
          </div>
        <% elsif !current_user.friends.include?(@user) %>
          <%= link_to user_friend_requests_path(@user), class: 'btn-add', method: :post do %>
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            <p>Add friend</p>
          <% end %>
        <% elsif current_user != @user %>
          <div class="dropdown">
            <div class="btn-unfriend dropdown-toggle" data-toggle="dropdown" aria-hidden="true">
              <i class="fa fa-check" aria-hidden="true"></i>
              <p>Friends</p>
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
            <ul class="dropdown-menu friendship-dropdown-menu">
              <li>
                <%= link_to friendship_path(@user.get_friendship(current_user), {user_id: @user.id}), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fa fa-times" aria-hidden="true"></i>
                  <p>Unfriend</p>
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
        <!-- Friendlist -->
        <div class="profile-friendlist">
          <h3>FRIENDS</h3>
            <%= link_to user_friendships_path(@user) do %>
              <%= @user.friends.count - 1 %>
            <% end %>
        </div>
      </div>
    </div>

    <!-- Middle section -->
    <div class="profile-middle">
      <!-- Header -->
      <div class="profile-header">
        <h1><%= @user.full_name %></h1>
        <i class="fa fa-map-marker" aria-hidden="true"></i><h4><%= @user.city %></h4>
      </div>
      <!-- Tabs -->
      <div class="profile-tabs">
        <a class="profile-tab active" id="tab-competitions" data-target="#competitions"><img src="<%= asset_path('podium.png') %>" id="img-competitions" />Competitions</a>
        <a class="profile-tab" data-target="#statistics"><%= image_tag 'statistics.png' %>Statistics</a>
      </div>
      <!-- Content -->
      <div class="profile-tabs-content">

      </div>
    </div>

    <!-- Right section -->
    <div class="profile-right">

    </div>
  </div>
</div>



<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){

      // Tooltip when hovering over sports icons
      $('[data-toggle="tooltip"]').tooltip();

      // Change of statistics content when clicking on sports icons
        $(".stat-tab").on("click", function(e){
          // Change active tab
          $(".stat-tab").removeClass('active');
          $(this).addClass('active');
          // Hide all tab-content (use class="hidden")
          $(".stat-tabs-content").addClass('hidden');
          // Show target tab-content (use class="hidden")
          $($(this).data('target')).removeClass('hidden');
        });

    if ($("#tab-competitions").hasClass("active")) {
      $("#img-competitions").attr('src', "<%= asset_path('podium-active.png') %>");
    } else {
      $("#img-competitions").stop('src', "<%= asset_path('podium-active.png') %>");
    }

    });
  </script>
<% end %>






