<div class="col-xs-12 footer-container">
  <div class="col-xs-12 col-md-8 col-md-offset-2 flexbox-between">
    <div class="footer-list flexbox-center">
      <ul>
        <li>About</li>
        <li>
          <%= link_to "#" do %>
            Contact us
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            Blog
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            Press
          <% end %>
        </li>
      </ul>
    </div>
    <div class="footer-list flexbox-center">
      <ul>
        <li>Legal</li>
        <li>
          <%= link_to "#" do %>
            Terms & Conditions
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            Privacy Policy
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            Jobs
          <% end %>
        </li>
      </ul>
    </div>
    <div class="footer-list flexbox-center">
      <ul>
        <li>Help</li>
        <li>
          <%= link_to "#" do %>
            Get Started
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            FAQs
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            Feedbacks
          <% end %>
        </li>
      </ul>
    </div>
    <div class="footer-list flexbox-center">
      <ul>
        <li>Community</li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <span style="display: inline;"> Facebook</span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <span style="display: inline;"> Twitter</span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <span style="display: inline;"> Instagram</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-md-8 col-md-offset-2 flexbox-center">
    <span class="credits">© OnTop 2017</span>
  </div>
</div>

