<% if !current_user.nil? %>
  <div class="navbar">

    <div class="navbar-left">
      <!-- Logo -->
      <%= link_to root_path do %>
        <%= image_tag "brand-logo.png" %>
      <% end %>
    </div>

    <div class="navbar-middle flexbox-between">
      <!-- Create -->
      <%= link_to new_competition_path, class: "navbar-create", method: :get do %>
        <h5>Create competition</h5>
      <% end  %>
      <!-- Search Bar -->
      <%= render 'shared/searchform' %>
    </div>

    <div class="navbar-right flexbox-center">
      <!-- Settings -->
      <div class="dropdown settings">
        <i class="fa fa-cog dropdown-toggle" data-toggle="dropdown" aria-hidden='true'></i>
        <ul class="dropdown-menu navbar-dropdown-menu">
          <li>
            <%= link_to destroy_user_session_path, class: 'logout', method: :delete do %>
              <i class="fa fa-power-off"></i> <%= t(".sign-out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
      <!-- Avatar -->
      <% if current_user.profile_picture %>
        <% user_image = cl_image_path(current_user.profile_picture.path, width: 100, height: 100, crop: :thumb, gravity: :face) %>
      <% else %>
        <% user_image = image_path('profile-avatar-default.jpg', width: 500, height: 500) %>
      <% end %>
      <%= link_to user_path(current_user) do %>
        <%= image_tag user_image, class: "avatar" %>
      <% end %>
    </div>
  </div>
<% end %>













<% content_for(:after_js) do %>
    <script>
    var client = algoliasearch("<%= ENV['ALGOLIA_API'] %>", "<%= ENV['ALGOLIA_SECRET'] %>");
    var index = client.initIndex('User');

    //initialize autocomplete on search input (ID selector must match)
    autocomplete('#aa-search-input',
    { hint: false }, [{
        source: autocomplete.sources.hits(index, {hitsPerPage: 5}),
        //value to be displayed in input control after user's suggestion selection
        displayKey: function(suggestion) { return suggestion.first_name + " " + suggestion.last_name},
        //hash of templates used when rendering dataset
     templates: {
            //'suggestion' templating function used to render a single suggestion
            suggestion: function(suggestion) {
              var link = "<form action='<%= ENV['HOST'] %>users/" + suggestion.id + "/friend_requests' method='post' id='addfriend' style='color: lightgreen'> <input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'> <button type='submit' name='user_id' value='" + suggestion.id + "' class='btn-link'><i class='fa fa-plus-circle fa-lg' aria-hidden='true'></i></button></form>";
              var card = "<span>" + "<img src=<%= ENV['CLOUDINARY_SECOND_URL']  %>" + suggestion.profile_picture.path + " alt='' class='avatar'> " +
                suggestion._highlightResult.first_name.value + " " + suggestion._highlightResult.last_name.value + "</span><span>" + link +"</span>";

              return card

            },
            footer: '<div class="branding text-right">Search powered by <img src="https://www.algolia.com/assets/algolia128x40.png" /></div>'
        }

    }]).on('autocomplete:selected', function(event, suggestion, dataset) {
        var url = "<%= ENV['HOST'] %>users/";
        window.location.assign(url + suggestion.id)});



    </script>
<% end %>


