<div class="navbar flexbox-between">

  <!-- Logo -->
  <%= link_to root_path, class: "navbar-logo" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Different navigation if user logged in or not -->
  <% if user_signed_in? %>


    <!-- Right navigation -->
    <div class="navbar-right">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <div class="dropdown">
          <i class="fa fa-cog dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown" aria-hidden="true"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
        <%= link_to "Create a competition", new_competition_path, class: "navbar-wagon-link navbar-wagon-item", method: :get %>
        <%# link_to "Create a team", new_team_path, class: "navbar-wagon-link navbar-wagon-item", style: "margin-right: 10px;", method: :get %>
        <!-- Search form -->
        <%= render 'shared/searchform' %>

        <!-- Avatar -->
        <% if current_user.photo %>
          <% user_image = cl_image_path(current_user.photo.path, width: 100, height: 100, crop: :thumb, gravity: :face) %>
        <% else %>
          <% user_image = image_path('profile-avatar-default.jpg', width: 500, height: 500) %>
        <% end %>
      <div class="navbar-avatar">
        <div class="dropdown">
          <img src="<%= user_image %>" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

<!--   <% if current_user.nil? %>
    <%= button_to "Log In", new_user_session_path, class: "navbar-competition-btn", method: :get %>
  <% else %>
    <div class='signout-button'>
      <%= button_to "Sign Out", destroy_user_session_path, class: "navbar-signout-btn", method: :delete %>
    </div>
  <% end %> -->


    <% end %>
  </div>

</div>

<% content_for(:after_js) do %>
    <script>
    var client = algoliasearch("<%= ENV['ALGOLIA_API'] %>", "<%= ENV['ALGOLIA_SECRET'] %>");
    var index = client.initIndex('User');

    //initialize autocomplete on search input (ID selector must match)
    autocomplete('#aa-search-input',
    { hint: false }, [{
        source: autocomplete.sources.hits(index, {hitsPerPage: 5}),
        //value to be displayed in input control after user's suggestion selection
        displayKey: function(suggestion) { return suggestion.first_name + " " + suggestion.last_name},
        //hash of templates used when rendering dataset
     templates: {
            //'suggestion' templating function used to render a single suggestion
            suggestion: function(suggestion) {
              var link = "<form action='<%= ENV['HOST'] %>users/" + suggestion.id + "/friend_requests' method='post' id='addfriend' style='color: lightgreen'> <input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'> <button type='submit' name='user_id' value='" + suggestion.id + "' class='btn-link'><i class='fa fa-plus-circle fa-lg' aria-hidden='true'></i></button></form>";
              var card = "<span>" + "<img src=<%= ENV['CLOUDINARY_SECOND_URL']  %>" + suggestion.photo.path + " alt='' class='avatar'> " +
                suggestion._highlightResult.first_name.value + " " + suggestion._highlightResult.last_name.value + "</span><span>" + link +"</span>";

              return card

            },
            footer: '<div class="branding text-right">Search powered by <img src="https://www.algolia.com/assets/algolia128x40.png" /></div>'
        }

    }]).on('autocomplete:selected', function(event, suggestion, dataset) {
        var url = "<%= ENV['HOST'] %>users/";
        window.location.assign(url + suggestion.id)});



    </script>
<% end %>


