<div class="container">
  <div class="row" style="margin-top: 50px;">
    <div class="col-xs-3 go-back">
      <%= link_to user_path(@user) do %>
        <i class="fa fa-long-arrow-left fa-lg" aria-hidden="true"></i>
        <h5>Back to <span><%= @user.first_name %></span>'s profile</h5>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="flexbox-center">
      <i class="fa fa-users fa-2x" aria-hidden="true"></i>
    </div>
  </div>
  <div class="row" style="margin-top: 30px;">
    <div class="col-xs-6 col-xs-offset-3 friendlist-header">
      <%= cl_image_tag(@user.photo.path, class: "avatar-friendlist") %>
      <h4><%= @user.full_name %>'</h4>
      <h5>s friends</h5>
      <p>(<%= @user.friends.count - 1 %>)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 friendlist-content">
      <% @user.friends.each do |friend| %>
        <div class="col-xs-12 col-md-6">
          <div class="card-friendlist">
            <%= friend.full_name %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
