
<div class="modal fade"
           id="edit" tabindex="-1" role="dialog"
           aria-labelledby="myModalLabel"
           aria-hidden="true"
           data-backdrop="static"
           data-keyboard="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Enter the score:</h3>
      </div>
      <div class="modal-body">
          <%= form_tag match_path(@match), method: :patch do %>
      <p>Set One - Player 1 won <%= select_tag "set1player1", options_for_select([0, 1, 2, 3, 4, 5, 6, 7]), label: "Set One, Player 1" %> games</p>
      <p>Set One - Player 2 won <%= select_tag "set1player2", options_for_select([0, 1, 2, 3, 4, 5, 6, 7]), label: "Set One, Player 2" %> games</p>
      <p>Set Two - Player 1 won <%= select_tag "set2player1", options_for_select([0, 1, 2, 3, 4, 5, 6, 7]), label: "Set One, Player 1" %> games</p>
      <p>Set Two - Player 2 won <%= select_tag "set2player2", options_for_select([0, 1, 2, 3, 4, 5, 6, 7]), label: "Set One, Player 1" %> games</p>
      <p>(If) Set Three - Player 1 won <%= select_tag "set3player1", options_for_select([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]), label: "Set One, Player 1" %> games</p>
      <p>(If) Set Three - Player 2 won <%= select_tag "set3player2", options_for_select([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]), label: "Set One, Player 1" %> games</p>
      <%= submit_tag 'Submit' %>
      <% end %>
      </div>
     <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
