<div class="modal fade" id=<%= "#{match.match_number}_link" %> tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Enter score:</h4>
      </div>
      <div class="modal-body">
        <%= form_tag match_path(match), method: :patch do %>
        <p><strong>Set One</strong> - <%= match.players.first.first_name if match.players.first %> won <%= number_field_tag "set1player1", nil, max: 7, min: 0, label: "Set One, Player 1" %> games</p>
        <p><strong>Set One</strong> - <%= match.players.last.first_name if match.players.last != match.players.first %> won <%= number_field_tag "set1player2", nil, max: 7, min: 0, label: "Set One, Player 2" %> games</p>
        <p><strong>Set Two</strong> - <%= match.players.first.first_name if match.players.first %> won <%= number_field_tag "set2player1", nil, max: 7, min: 0, label: "Set One, Player 1" %> games</p>
        <p><strong>Set Two</strong> - <%= match.players.last.first_name if match.players.last != match.players.first %> won <%= number_field_tag "set2player2", nil, max: 7, min: 0, label: "Set One, Player 1" %> games</p>
        <p><strong>(If) Set Three</strong> - <%= match.players.first.first_name if match.players.first %> won <%= number_field_tag "set3player1", nil, max: 15, min: 0, label: "Set One, Player 1" %> games</p>
        <p><strong>(If) Set Three</strong> - <%= match.players.last.first_name if match.players.last != match.players.first %> won <%= number_field_tag "set3player2", nil, max: 15, min: 0, label: "Set One, Player 1" %> games</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= submit_tag 'Submit', class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
